{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>글 #{{ post.id }} 상세보기</h1>
    <h3>글 제목 : {{ post.title }}</h3>
    {% if post.user %}
        <h3>작성자 : {{ post.user }}</h3>
    {% endif %}
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="이미지" id="post_image">
    {% endif %}
    <h3>글 내용 : {{ post.content }}</h3>
    <h3>작성 시간 : {{ post.created_at }}</h3>
    <h3>수정 시간 : {{ post.updated_at }}</h3>
    <h3>조회수 : {{ post.view_count }}</h3>

    <a href="{% url 'posts:like' post.id %}">
        {% if user in post.like_users.all %}
            <a href="{% url 'posts:like' post.id %}"><i class="fas fa-heart"></i></a>
        {% else %}
            <a href="{% url 'posts:like' post.id %}"><i class="far fa-heart"></i></a>
        {% endif %}
    </a>
    <p class="card-text">{{ post.like_users.count }}</p>
    
    {% if user == post.user %}
        <a href="{% url 'posts:update' post.pk %}" class="btn btn-dark">수정</a>
        <a href="{% url 'posts:delete' post.pk %}" class="btn btn-dark">삭제</a>
    {% endif %}    
</div>

{% endblock %}